* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    font-weight: 500;
    color:#E5E7EB;
}

a:hover {
    background-color: #E5E7EB;
    color:#1F2937;
    border-radius: 5px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.wrapper.jedna {
    flex-direction: column;
    background-color: #1F2937;
    align-items: center;
}

.wrapper.tri {
    background-color: #E5E7EB;
    padding: 50px;
}

.wrapper.ctyri {
    padding: 50px;
}

.wrapper.pet {
    padding: 25px;
    background-color: #1F2937;
    color: #F9FAF8;

}

.hlava {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 990px;
    width: 75%;
}

.logo {
    font-weight: 800;
    font-size: 19px;
}

.prava {
    display: flex;
    text-align: right;
    list-style-type: none;
    gap: 50px;
}


h2 {
    font-size: 48px;
    font-weight: bolder;
}

.infotext p {
    font-size: 18px;    
    margin-top: 15px;
}

button {
    border-radius: 10px;
    color: #F9FAF8;
    background-color: #3882f6;
    height: 50px;
    width: 150px;
    font-weight: bold;
    border-style: solid;
    border-color: #F9FAF8;
}
button:hover {
    background-color:#E5E7EB;
    color:#1F2937;
   
  }

.uvod {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items:  center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 45px;
    width: 75%;
    max-width: 990px;
}

.infotext {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 5%;
}
    

.top-img {
    display: flex;
    justify-items: center;
    align-items: center;
    flex: 1;
}

.top-img img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

 h1 {
     text-align: center;
     padding-top: 50px;
     color: #1F2937;
     font-size: 36px;
     font-weight: bolder;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 990px;
    width: 75%;
    margin: 50px;
    gap: 5%;
}

.polozka {
    text-align: center;
    font-size: 20px;
}

.registruj-se {
    display: flex;
    justify-content: space-between;
    width: 60%;
    max-width: 990px;
    background-color: #3882f6;
    padding: 50px;
    border-radius: 15px;
    color: #F9FAF8;
}


.list img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.citat {
    display: flex;
    width: 75%;
    max-width: 750px;
    flex-direction: column;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    font-size: 25px;
    }